.footer__copyright {
  font-family: "Inter-400", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21.78px;
  color: #545454;
  margin: 0;
  padding-left: 19px;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 16.94px;
  }
}
