.popup__button_disabled {
  display: block;
  width: 358px;
  height: 50px;
  margin: 0;
  padding: 0;
  font-family: 'Inter-400', 'Ariel', sans-serif;
  font-size: 18px;
  line-height: 21.78px;
  border: 1px solid #000000;
  color: black;
  border-radius: 2px;
  margin-top: 48px;
  margin-right: 36px;
  margin-left: 36px;
  opacity: 50%;
}

@media screen and (max-width: 768px) {
  .popup__button_disabled {
    width: 238px;
    height: 46px;
    margin-right: 22px;
    margin-left: 22px;
    margin-top: 44px;
    font-size: 14px;
    line-height: 16.94px;
  }
}
