.popup__input-container {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 36px;
  padding-right: 36px;
  border: 0;
}

@media screen and (max-width: 768px) {
  .popup__input-container {
    padding-left: 22px;
    padding-right: 22px;
  }
}
