.footer {
  display: block;
  padding-top: 67px;
  padding-bottom: 60px;
}
/*
@media screen and (max-width: 768px) {
  .footer {
    max-width: 768px;
  }
}
*/

@media screen and (max-width: 320px) {
  .footer {
    max-width: 320px;
    padding-top: 50px;
    padding-bottom: 36px;
  }
}
