@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/page/__content/page__content.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__photo/profile__photo.css);
@import url(./blocks/profile/__box/profile__box.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__text/profile__text.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/__trash/element__trash.css);
@import url(./blocks/elements/__box/elements__box.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__info/element__info.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__text/element__text.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__like/_active/element__like_active.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__heading/popup__heading.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input-container/popup__input-container.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__container-image/popup__container-image.css);
@import url(./blocks/popup/__big-image/popup__big-image.css);
@import url(./blocks/popup/__text-fullscreen/popup__text-fullscreen.css);
@import url(./blocks/popup/_type_image/popup_type_image.css);
@import url(./blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(./blocks/popup/__input/_type/_error/popup__input_type_error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup/__form/_type_delete/popup__form_type_delete.css);
@import url(./blocks/popup/__button/_type_delete-form/popup__button_type_delete-form.css);
@import url(./blocks/popup/__heading/_type_delete-form/popup__heading_type_delete-form.css);
@import url(./blocks/popup/__form/_type_avatar/popup__form_type_avatar.css);
@import url(./blocks/element/__counter-like/element__counter-like.css);
@import url(./blocks/element/__like-box/element__like-box.css);
@import url(./blocks/profile/__photo-overlay/profile__photo-overlay.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/app/app.css);
@import url(./blocks/popup/__button/_type_sign/popup__button_type_sign.css);
@import url(./blocks/popup/__input-container/_type_sign/popup__input-container_type_sign.css);
@import url(./blocks/popup/__form/_type_sign/popup__form_type_sign.css);
@import url(./blocks/popup/_type_sign/popup_type_sign.css);
@import url(./blocks/popup/__heading/_type_sign/popup__heading_type_sign.css);
@import url(./blocks/popup/__input/_type/_sign/popup__input_type_sign.css);
@import url(./blocks/popup/__btm-redirect/popup__btm-redirect.css);
@import url(./blocks/popup/__btm-redirect-link/popup__btm-redirect-link.css);
@import url(./blocks/header/__redirect/header__redirect.css);
@import url(./blocks/header/__redirect-link/header__redirect-link.css);
@import url(./blocks/confirm/__img-success/confirm__img-success.css);
@import url(./blocks/confirm/__title/confirm__title.css);
@import url(./blocks/confirm/__img-error/confirm__img-error.css);
@import url(./blocks/header/__exit-btn/header__exit-btn.css);
@import url(./blocks/header/__user-email/header__user-email.css);
@import url(./blocks/popup/__form/_type_confirm/popup__form_type_confirm.css);