.header {
  display: flex;
  min-height: 74px;
  padding-top: 45px;
  border-bottom: 0.5px solid #545454;
  justify-content: space-between;
}

/*
@media screen and (max-width: 1024px) {
  .header {
    margin-right: 48px;
    margin-left: 48px;
  }
}
*/

@media screen and (max-width: 768px) {
  .header {
    padding-left: 27px;
    padding-top: 28px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding-left: 0;
    max-width: 320px;
    min-height: 56px;
  }
}
